@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700;900&display=swap');

.big-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 15px;
    padding: 15px;
    background-color: rgb(232, 121, 179);
    font-family: 'Roboto', sans-serif;
}


#button {
    width: 200px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 15px;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 500px;
    transition: 0.3s all ease;
    height: 100px;
  }
  
  #button:hover {
    cursor: pointer;
    background-color: #848484;
  }

img {
    width: 25em;
    border-radius: 15px;
}

.gallery-box {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}