@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700;900&display=swap');

.TopBar {
    background-color: rgb(232, 121, 179);
    display: flex;
    border: 2px solid none;
    border-radius: 55px;
    border-top: 0px;
    width: 100vw;
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    /* Create a parallax effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: center;
    transition: all 0.2s ease;
    flex-direction: column;
    align-items: center;
}

.center-intro-flex {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
    align-items: center;
}

.motto {
    font-size: 8em;
    font-family: 'Dancing Script', cursive;
}

.title {
    top: 0;
    opacity: 1;
    transition: all 0.4s ease;
    position: absolute;
    font-size: 4em;
}

.macaron-img {
    width: 55em;
    object-fit: contain;
    margin-top: -40%;
    /* Create a parallax effect */
    background-attachment: fixed;
    transition: all 0.2s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}