body {
  background-color: whitesmoke;
  color: whitesmoke;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spinning-back {
  width: 100vw;
  height: 100vh;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.falling-text {
  color: black;
  line-height: 150px;
  font-size: 2.5em;
}

#text1,
#text3 {
  align-self: baseline;
  background-color: black;
  color: white;
  padding: 50px;
  transition: 0.3s all ease;
}

#text1:hover,
#text3:hover {
  background-color: white;
  border: 5px solid black;
  color: black;
}

#text2,
#text4 {
  align-self: end;
  transition: 0.3s all ease;
  padding: 50px;
}

#text2:hover,
#text4:hover {
  background-color: black;
  border: 5px solid white;
  color: white;
}

.falling-text-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 50px
}

.socials {
  margin-left: 10px;
  transition: 0.3s ease all;
  width: 2em;
}

.socials:hover {
  cursor: pointer;
  border: 5px solid rgb(232, 121, 179);
  border-radius: 5px;
}

.middle {
  padding: 0;
  border: 0;
  color: black;
  font-size: 3em;
  margin-top: 50px;
}

.falling-text-flex-img {
  background-color: rgb(232, 121, 179);
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  margin-bottom: 0;
  flex-direction: row;
  align-items: center;
}

.first-flex {
  margin-top: 500px;
  background-color: whitesmoke;
}


#img1, #img2 {
  align-self: baseline;
  justify-self: end;
}

#img1:hover,
#img2:hover {
  background-color: rgb(232, 121, 179);
  padding: 25px;
}

#img3, #img4 {
  align-self: end;
  justify-self: start;
}

.falling-img {
  border-radius: 50px;
  width: 25%;
  line-height: 150px;
  display: inline;
  font-size: 2.5em;
  transition: 0.3s all ease;
  background-repeat: none;
}

.falling-img:hover {
  background-color: whitesmoke;
  padding: 25px;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  outline: 1px solid rgb(0, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query for screens up to 767px (typical phones) */
@media screen and (max-width: 767px) {
  /* Styles for phones and smaller screens */
  h2 {
    font-size: 2em !important;
  }
  
  .macaron-img {
    width: 25em !important;
  }
  
  .falling-img {
    width: 50%;
  }
  
  .falling-text {
    line-height: 30px;
    width: 25%;
    font-size: 1.5em;
  }
  
  
  
  .TopBar {
    width: 100% !important;
  }
}

